
[Unit]
Description=TJC Display for Klipper
Requires=moonraker.service

[Service]
User=<user>
Group=<user>
Type=idle
WorkingDirectory=<tjc_dir>
ExecStartPre=/usr/bin/sleep 15
ExecStart=<tjc_dir>/venv/bin/python3 <tjc_dir>/src/main.py -c <config_dir>
Restart=on-failure

[Install]
WantedBy=multi-user.target
